
* {
    font-family: "DejaVu Sans Mono", "Symbols Nerd Font";
    font-size: 14px;
    /* border-radius: 15px */
}

window#waybar {
    /* background-color: rgba(13, 27, 42, 0.5); */
    background-color: rgba(0, 0, 0, 0.0);
    /* color: rgba(228, 228, 239, 1); */
    /* border: 2px solid rgba(51, 102, 0, 0.8); */
    /* border-radius: 10px; */
}

.modules-right {
    /* background-color: rgba(51, 102, 0, 0.5); */
    /* margin: 0 10px 0 0; */
    padding: 0 10px;
}


tooltip {
    background-color: rgba(55, 55, 55, 0.8);
    color: rgba(255, 255, 255, 1.0);
    /*border: 2px solid ;*/
    border-radius: 15px;
}
#workspaces button {
    /*color: rgba(0, 163, 32, 1);*/
    /*color: rgba(154, 101, 113, 1);*/
    /*color: rgba(169, 120, 130, 1);*/
    color: rgba(255, 255, 255, 1.0);
    /*color: rgba(228, 228, 239, 1);*/
}

#workspaces button.empty {
    /*color: rgba(228, 228, 239, 1);*/
    color: rgba(176, 176, 176, 1.0);
}

#workspaces button.focused {
    /*color: rgba(0, 163, 32, 1);*/
    /*color: rgba(207, 109, 114, 1);*/
    color: rgba(93, 255, 255, 1.0);
}

#workspaces button.active {
    /*color: rgba(0, 163, 32, 1);*/
    /*color: rgba(207, 109, 114, 1);*/
    color: rgba(93, 255, 255, 1.0);
}

#workspaces button:hover,
#workspaces button.*:hover {
    box-shadow: none;
    text-shadow: none;
    transition: none;
    background: rgba(50, 50, 50, 0.5);
    border-radius: 15px;
    border-color: rgba(50, 50, 50, 0.5)
}


#network,
#wireplumber,
#custom-brightness,
#battery,
#cpu,
#memory,
#clock {
    color: rgba(255, 255, 255, 1.0);
    padding: 0 10px;
}
