* {
    font-family: "DejaVu Sans Mono", "Symbols Nerd Font", "IPAGothic Bold";
}

window#waybar {
    background-color: #100d18;
    border-radius: 10px;
    font-size: 14px;
}

.modules-right {
    padding: 0 10px;
}

tooltip {
    background-color: rgba(55, 55, 55, 0.8);
    color: rgba(255, 255, 255, 1.0);
    border-radius: 15px;
}


#workspaces button {
    color: #a2dbe3;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 11px 10px 11px;
}

#workspaces button.empty {
    color: rgba(100, 100, 100, 1.0);
    font-size: 20px;
    font-weight: bold;
    padding: 6px 11px 10px 11px;
}

#workspaces button.focused {
    color: #a2dbe3;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 11px 10px 11px;
}

#workspaces button.active {
    color: #00cc88;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 11px 10px 11px;
}

#workspaces button:hover,
#workspaces button.*:hover {
    box-shadow: none;
    text-shadow: none;
    transition: none;
    background: rgba(50, 50, 50, 0.0);
    /*border-radius: 15px;*/
    border-color: rgba(50, 50, 50, 0.0);
    font-size: 20px;
    font-weight: bold;
    color: #00cc88;
}


#network,
#wireplumber,
#custom-brightness,
#battery,
#cpu,
#memory,
#mpris,
#clock {
    color: #a2dbe3;
    padding: 0 6px;
}
