

* {
    font-family: "DejaVu Sans Mono", "Symbols Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: rgba(13, 27, 42, 0.5);
    color: rgba(228, 228, 239, 1);
    border: 2px solid rgba(51, 102, 0, 0.8);
    border-radius: 10px;
}

#window {
    margin: 0 10px;
}

.modules-right:last-child {
    /* background-color: rgba(51, 102, 0, 0.5); */
    /* margin: 0 2px 0 0; */
    /* padding: 0 3px; */
}

.modules-center {
    /* background-color: #1d1f21; */
    /* background-color: #2a3f38; */
    /* background-color: rgba(51, 102, 0, 0.5); */
    /* margin: 0 0 0 0; */
    /* padding: 0 3px; */
}

.modules-left {
    /* background-color: #1d1f21; */
    /* background-color: #2a3f38; */
    /* background-color: rgba(51, 102, 0, 0.5); */
    /* margin: 0 0 0 2px; */
    /* padding: 0 3px 0 0; */
}

tooltip {
    background-color: rgba(13, 27, 42, 1);
    color: rgba(228, 228, 239, 1);
    border: 2px solid rgba(51, 102, 0, 0.8);
    border-radius: 10px;
}

#workspaces button {
    color: rgba(228, 228, 239, 1);
    /* padding: 0 3px; */
}

#workspaces button.focused {
    color: rgba(0, 163, 32, 1);
}

#workspaces button.active {
    color: rgba(0, 163, 32, 1);
}

#workspaces button:hover {
    background: transparent;
    border-color: rgba(0, 163, 32, 1);
    box-shadow: none;
    text-shadow: none;
}

#network,
#wireplumber,
#custom-brightness,
#battery,
#cpu,
#memory,
#clock {
    padding: 0 10px;
}
