:root {
    --font-family: DejaVu Sans Mono;
    --font-size: 14px;
    --border-transition: .2s ease;
    --rounding: 0px;
    --margin: 0.8rem;
    --width: 2px;

    --bg: var(--lwt-accent-color, -moz-dialog);
    --accent: #00afa4 !important;
    --border: #515e5e !important;

    --link-color: var(--accent) !important;
    --urlbarView-highlight-background: var(--toolbar-field-background-color) !important;
    --toolbox-non-lwt-bgcolor: var(--bg) !important;
    --border-width: var(--width) !important;
    --border-radius-small: var(--rounding) !important;
    --border-radius-medium: var(--rounding) !important;
    --toolbarbutton-border-radius: var(--rounding) !important;
    --tab-border-radius: var(--rounding) !important;

    #root[data-toolbar-color-scheme="dark"] [data-color="yellow"] {
        --color: #f6c177 !important;
    }
    #root[data-toolbar-color-scheme="dark"] [data-color="purple"] {
        --color: #c4a7e7 !important;
    }
    #root[data-toolbar-color-scheme="light"] [data-color="yellow"] {
        --color: #ea9d34 !important;
    }
    #root[data-toolbar-color-scheme="light"] [data-color="purple"] {
        --color: #907aa9 !important;
    }
    [data-color="blue"] {
        --color: #9ccfd8 !important;
    }
    [data-color="turquoise"] {
        --color: #9ccfd8 !important;
    }
    [data-color="green"] {
        --color: #3e8fb0 !important;
    }
    [data-color="orange"] {
        --color: #f6c177 !important;
    }
    [data-color="red"] {
        --color: #eb6f92 !important;
    }
    [data-color="pink"] {
        --color: #ea9a97 !important;
    }
}

* {
    font-size: var(--font-size) !important;
    font-family: var(--font-family) !important;
}

/* fix urlbar being to high in ff 128 */
* {
    --urlbar-toolbar-height: 32px !important;
    --urlbar-container-height: 32px !important;
}

#TabsToolbar {
    padding: 8px 0px !important;
    margin: 0px -3px !important;
    /*   visibility: collapse !important; */
}

/* Keeps the .titlebar-spacer[type="pre-tabs"] and [type="post-tabs"] consistent in all window sizes */
:root:not([sizemode="normal"]) .titlebar-spacer[type="pre-tabs"] {
    display: block !important;
}
@media (max-width: 500px) {
    .titlebar-spacer[type="post-tabs"] {
        display: block !important;
    }
}

/* Deactivating close, minimize and maximize buttons */
.tab-close-button,
#TabsToolbar .toolbarbutton-1,
.titlebar-buttonbox-container {
    display: none !important;
}

/* hide stuff */
#identity-box,
#back-button,
#forward-button,
#userContext-icons,
#translations-button-icon,
#tracking-protection-icon-container,
#star-button-box,
.urlbar-page-action {
    display: none;
}

#navigator-toolbox {
    margin: 8px;
    box-shadow: none !important;
    text-shadow: none !important;
    color: var(--border) !important;
    border-radius: var(--rounding);
    background: transparent !important;
    border: none !important;
    &:hover,
    &:focus {
        color: var(--accent) !important;
    }
    &:hover::before {
        color: var(--accent);
    }
}

:root[tabsintitlebar] #toolbar-menubar[autohide="true"] {
    --tab-min-height: fit-content !important;
    min-height: fit-content !important;
    padding-top: 3px !important;
}

#PlacesToolbarItems {
    display: flex;
    justify-content: center;
}

.browser-toolbar {
    &:not(.titlebar-color) {
        background-color: transparent !important;
    }
}

body {
    background-color: var(--bg);
}

:root[inFullscreen="true"] {
    #appcontent {
        margin: 0;
        border: none;
        padding: 0;
        transition: none;
    }
    #tabbrowser-tabbox::before {
        display: none;
    }
}

menupopup,
panel {
    --panel-color: white !important;
    --panel-background: var(--bg) !important;
    --panel-border-radius: var(--rounding) !important;
    background-color: var(--bg) !important;
    border: var(--width) solid var(--accent) !important;
}

#urlbar {
    padding: 0px 5px !important;
}

#urlbar-background {
    background-color: transparent !important;
    border: unset !important;
    box-shadow: unset !important;
}
.urlbarView {
    text-align: start;
    margin-top: 4px;
    background-color: var(--bg);
    border: var(--border-width) solid var(--accent) !important;
}
.urlbarView-body-inner {
    #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
        border-top: unset !important;
    }
}
.urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
    border-top: var(--border-width) solid var(--accent) !important;
}

.tabbrowser-tab[selected=true] {
    margin: 0px 3px !important;
    padding: 0px 10px !important;
    color: var(--accent) !important;
    border: var(--border-width) solid var(--accent) !important;
    background-color: var(--bg) !important;
    background-image: none !important;
}

.tabbrowser-tab {
    margin: 0px 3px !important;
    padding: 0px 10px !important;
    color: #ffffff !important;
    border: var(--border-width) solid var(--border) !important;
    background-color: var(--bg) !important;
    background-image: none !important;
}

.tab-background-start, .tab-background-end, .tab-icon {
    display: none !important;
}

.tab-background-middle, .tab-background, .tab-content,
.tab-text-stack, .arrowscrollbox-scrollbox {
    margin: 0 !important;
    padding: 0 !important;
    background: inherit !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
